:root{
}

/*Prerequisites*/

*{
	margin:0;
	padding:o;
	box-sizing:border-box;
	outline:none;
}

html{
	scroll-behavior:smooth;
}

body {
	background-color:;
	overflow-x: hidden;
}

/*LOADER*/

/*INTRO*/


