:root{
	--color1: #fff;
	--color2: rgba(235, 193, 84, 0.6);
	--color3: #786430;
	--color4: #f0bc32;
	--color5: rgba(0,0,0,0.5);
}

/*Prerequisites*/

*{
	margin:0;
	padding:o;
	box-sizing: border-box;
}

html{
	scroll-behavior:smooth;
}

body {
	background-color: #111;
	overflow-x: hidden;
}

/*LOADER*/

/*NAVBAR*/
.navb {
	width:100%;
	position:fixed;
	top:0;
	z-index:999;
	padding: 1vw 2vw;
	transition: 0.6s;
	background-color: var(--color5);
}

.navb h1 {
	color: var(--color3);
	font-size: 2vw;
	font-family: 'Poiret One', cursive;
	float:left;
	margin-left: 2vw;
	transition: 0.6s;
}

.navb .bar{
	padding-right: 3vw;
}

.navb .bar a{
	float: right;
    display: block;
	color: #fff;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	padding: 0vw 1vw;
	margin-right: 0.5;
    position: relative;
	transition: 0.5s;
	text-transform: uppercase;
}

.navb a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--color4);
    height: 2px;
    transition: all 0.6s;
}

.navb a:hover::after {
    width: 100%;
}

.navb .bar a:hover{
	color: var(--color4);
}

/*HOME*/
.home{
	width: 100%;
	height: 100%;
	top:0;
	right:0;
	left:0;
}

.home::before{
	position:absolute;
	background-size:cover;
	background-attachment:fixed;
	background-position:center;
	filter: sepia(100%);
	height:100%;
	width:100%;
	z-index:-1;
	-webkit-animation: back 20s infinite;
	animation: back 30s infinite;
	content:"";
}

.home .intro{
	padding-top: 25%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 19%;
}

.home h1{
	color: var(--color1);
	font-size: 60px;
	background-color: var(--color2);
	text-align: center;
	padding: 3%;
	font-family: 'IM Fell DW Pica', serif;
}

/*ABOUT*/
.abt{
	width: 100%;
    padding-bottom: 7%;
    padding-top: 5%;
    background-image: linear-gradient( to left,#000, var(--color3));
}

.abt h1{

}

/*ANIMATIONS*/
@keyframes back{
	0%{
		background-image: url("images/bg1.jpeg");
	}
	20%{
		background-image: url("images/bg2.jpeg");
	}
	40%{
		background-image: url("images/bg3.jpeg");
	}
	60%{
		background-image: url("images/bg4.jpeg");
	}
	80%{
		background-image: url("images/bg5.jpeg");
	}
	100%{
		background-image: url("images/bg6.jpeg");
	}
}
